/* Google Font */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#081b12;
    color:white;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0f2c1e;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo h1{
    color:#39d353;
    font-size:32px;
}

.logo p{
    color:#c7d2cb;
    font-size:13px;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
    font-weight:500;
}

nav a:hover{
    color:#39d353;
}

/* Hero Section */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 8%;
    gap:50px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:55px;
    line-height:1.2;
    margin-bottom:20px;
}

.hero-text p{
    color:#d5d5d5;
    line-height:1.8;
    font-size:18px;
    margin-bottom:35px;
}

.hero-image{
    flex:1;
    text-align:center;
}

.hero-image img{
    width:90%;
    max-width:550px;
}

/* Button */

button{
    background:#39d353;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #39d353;
}

/* Stats */

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:50px 8%;
}

.card{
    background:#123223;
    padding:30px;
    text-align:center;
    border-radius:15px;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px rgba(57,211,83,.5);
}

.card h2{
    font-size:40px;
    color:#39d353;
}

.card p{
    margin-top:10px;
    color:#ddd;
}

/* Features */

.features{
    padding:70px 8%;
}

.features h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.feature{
    background:#123223;
    padding:35px;
    border-radius:18px;
    transition:.4s;
}

.feature:hover{
    transform:scale(1.03);
    box-shadow:0 0 20px rgba(57,211,83,.4);
}

.feature h3{
    color:#39d353;
    margin-bottom:15px;
}

.feature p{
    color:#ddd;
    line-height:1.7;
}

/* Footer */

footer{
    text-align:center;
    padding:30px;
    background:#0f2c1e;
    margin-top:60px;
}

/* Responsive */

@media(max-width:900px){

header{
    flex-direction:column;
    gap:20px;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.stats{
    grid-template-columns:repeat(2,1fr);
}

.feature-grid{
    grid-template-columns:1fr;
}

.hero-text h1{
    font-size:40px;
}

}

@media(max-width:600px){

.stats{
    grid-template-columns:1fr;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

.hero-text h1{
    font-size:32px;
}

}
